<!--Shared Layout-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/img/film-reel.png">

    <!--Link to bootstrap and stylesheet-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div>
        <!--Navigation Menu-->
        <nav>
            <a asp-controller="Home" asp-action="Index">Home Page</a> ||
            <a asp-controller="Home" asp-action="MyPodcasts">My Podcasts</a> ||
            <a asp-controller="Home" asp-action="MovieForm">Add a New Movie</a> ||
            <a asp-controller="Home" asp-action="MovieList">View my Movie Collection</a>
        </nav>
    </div>


    <div>
        <br/>
        <!--Page Header-->
        <h1>@ViewData["Header"]</h1>
        @RenderBody()
    </div>

    <!--Link to bootstrap and javascript files-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
