<!--Confirmation Page-->
@{
    ViewData["Title"] = "Movie Added!";
    ViewData["Header"] = "Confirmation Page";
}

@model Mission04Assignment.Models.AddMovieResponse

<h2>"@Model.Title," was successfully added to the database. Thank you!</h2>