<!--Home Page-->
@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
    ViewData["Header"] = "The Joel Hilton Film Collection";
}

<div>
    <p>My name is Joel Hilton and I love movies! You can find an image of me below.</p>
</div>

<!--Image of Joel Hilton-->
<img src="~/img/JoelHiltonHeadshot.jpg" height="600"/>
