<!--Podcasts Page-->
@{
    ViewData["Title"] = "My Podcasts";
    ViewData["Header"] = "My Podcasts";
}

<p>I love movies so much that I make a weekly podcast about them with my friends! The podcast is called Baconsale.</p>

<!--Link to the BaconSale Site-->
<p>Click <a href="https://baconsale.com/" target="_blank">here</a> to check out the Baconsale site.</p>